* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDE3F5;
}

.container {
    width: 1024px;
    margin: 0 auto;
    box-shadow:
        rgba(60, 15, 92, 0.25) 0px 0px 0px 1px inset,
        rgba(60, 15, 92, 0.45) 0px 0px 0px 5px;
}

header {
    background-image: url("images/header.jpg");
    height: 160px;
}

section {
    display: flex;
}

nav {
    background-color: #DCC7EA;
    width: 30%;
}

article {
    background-color: #FFFAFF;
    width: 70%;
    padding: 10px;
    color: #3C0F5C;
}

footer {
    background-color: #C6A4DC;
    text-align: center;
    padding: 25px;
    color: #3C0F5C;
}

a:link {
    color: #3C0F5C;
    text-decoration: none;
    background-color: #EADAF3;
    display: block;
    width: 100%;
    padding: 10px;
}

a:visited {
    color: #3C0F5C;
}

a:hover {
    color: #FFFFFF;
    background-color: #3C0F5C;
}

a:active {
    color: #F5E9FC;
}
